<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <p class="text-center sub-heading"><span>Created By Vishal Mauriya</span>
        , Currently pursuing Btech in Information Technology From
        <span>Guru Nanak Dev Engineering College (2019 - 2023)</span></p>
      <div class="row">
        <div class="col-md-6 col-12 hero-text">
          <body>
 <img src="images/home.jpeg" alt="home_image" height="300" width="500">
            {{!-- <iframe
              width="420"
              height="345"
              src="https://www.youtube.com/embed/P9GJNff8E9Y"
            >
            </iframe> --}}

          </body>

        </div>
        {{! right side }}

        <div
          class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column"
        >
          <h1>Home Rental</h1>
          <p>Welcome to our home rental website, where you can discover the perfect home for your next vacation or business trip. We are dedicated to providing you with the best possible rental experience by offering a wide selection of high-quality homes, excellent customer service, and competitive pricing.

Whether you are looking for a cozy cabin in the woods, a luxurious beachfront villa, or a spacious apartment in the heart of the city, we have the perfect home for you. Our website features a variety of rental options to suit any budget and preference, so you can find exactly what you are looking for.

We believe that finding the perfect home should be easy and stress-free, which is why we offer a user-friendly website that allows you to easily search for and book your dream rental. Our team of experienced professionals is also available to answer any questions you may have and help you find the perfect home for your needs.

At our home rental website, we are committed to providing you with a seamless rental experience from start to finish. We pride ourselves on our exceptional customer service, and we will go above and beyond to ensure that your stay is as comfortable and enjoyable as possible.

Thank you for considering our home rental website for your next vacation or business trip. We look forward to helping you find the perfect home away from home.</p>

          <body>

          </body>
        </div>
      </div>
    </div>
  </div>
</div>